cffi==1.7.0
coreapi==1.32.0
cryptography==1.4
dj-database-url==0.4.1
Django==1.9.8
django-cors-headers==1.1.0
django-filter==0.13.0
django-rest-swagger==2.0.1
djangorestframework==3.4.0
djangorestframework-jwt==1.8.0
ecdsa==0.13
enum34==1.1.6
Fabric==1.11.1
freeze==1.0.10
gunicorn==19.6.0
idna==2.1
ipaddress==1.0.16
itypes==1.1.0
oauthlib==1.0.3
openapi-codec==1.0.0
paramiko==2.0.1
psycopg2==2.6.2
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
PyJWT==1.4.1
python-openid==2.2.5
python-social-auth==0.2.14
PyYAML==3.11
requests==2.10.0
requests-oauthlib==0.6.1
simplejson==3.8.2
six==1.10.0
uritemplate==0.6
whitenoise==3.2
