coreapi==2.0.8
dj-database-url==0.4.1
Django==1.10.2
django-rest-swagger==2.0.7
djangorestframework==3.5.1
djangorestframework-jwt==1.8.0
itypes==1.1.0
openapi-codec==1.1.7
pipdeptree==0.8.0
psycopg2==2.6.2
PyJWT==1.4.2
requests==2.11.1
simplejson==3.9.0
uritemplate==3.0.0
